Repository TonyNg147/StreamingQt: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: "2.17"

default_language_version:
  python: python3

fail_fast: false

# global excludes (Used python regex to match)
# exclude: |
#   (?x)(

#   )$

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        additional_dependencies: ["prettier@3.0.0-alpha.0"]
        entry: prettier --write --list-different --ignore-unknown
        language: node
        types: [text]
        files: \.(yaml|yml)$

      - id: clang-format
        name: clang-format
        entry: clang-format -i
        args: ["-fallback-style=none"]
        language: python
        additional_dependencies: ["clang-format==16.0.6"]
        types_or: [c, c++]
        files: |
          (?x)(
              ^CameraHandle/.* |
              ^CameraStorage/.* |
              ^Core/.* |
              ^CustomVideoHandle/.* |
              ^Utils/.* |
              main.cpp
          )$

Add qmlformat
  .pre-commit-config.yaml
  HMI/Components/Fudamentals/AbstractButtonWithState.qml
  HMI/Components/Fudamentals/VideoSettingButton.qml
  HMI/Components/VideoButtonProsDefault.qml
  HMI/Const/ComponentEnum.qml
Due: prettier

Prevent allocating on Stack for Heapable Object
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/Fudementals/CMakeLists.txt
  Core/Fudementals/Memory/CMakeLists.txt
  Core/Fudementals/Memory/HeapAllocationOnly.h
  Core/Fudementals/Memory/HeapAllocationOnly_unix.cpp
  Core/Fudementals/Memory/HeapAllocationOnly_win.cpp
  Core/Fudementals/System/BaseInterface.h
  Core/Fudementals/System/SInterface.h
  Utils/CMakeLists.txt
  Utils/executionhelper.cpp
Due: clang-format

Add cache to cmake to prevent multiple running on pre-commit installation
  cmake/PreCommitConfig.cmake
Due: none

Add observer pointer to keep track of the life cycle for the obedients
  CameraHandle/CMakeLists.txt
  CameraHandle/camerapool.cpp
  CameraHandle/camerapool.h
  CameraStorage/camerastorage.cpp
  CameraStorage/camerastorage.h
  CameraStorage/camerastorageservice.cpp
  CameraStorage/camerastorageservice.h
  Core/CMakeLists.txt
  Core/Fudementals/CMakeLists.txt
  Core/Fudementals/Memory/CMakeLists.txt
  Core/Fudementals/Memory/HeapAllocationOnly_win.cpp
  Core/Fudementals/Memory/InheritantQueriable.h
  Core/Fudementals/Memory/Trackable.h
  Core/Fudementals/Memory/TrackableImpl.cpp
  Core/Fudementals/Memory/TrackableImpl.h
  Core/Fudementals/Memory/Tracker.h
  Core/Fudementals/Memory/observerPtr.cpp
  Core/Fudementals/Memory/observerPtr.h
  Core/Fudementals/System/BaseInterface.h
  Core/Fudementals/System/SInterface.h
  Core/Fudementals/SystemIF/BaseInterface.h
  Core/Fudementals/SystemIF/CMakeLists.txt
  Core/Fudementals/SystemIF/IFManipulate.h
  Core/Fudementals/SystemIF/IFRepresent.h
  Core/Fudementals/SystemIF/SInterface.cpp
  Core/Fudementals/SystemIF/SInterface.h
  Core/VideoRecording/RecordingBase.h
  Core/VideoRecording/VideoRecordingBase.cpp
  Core/VideoRecording/VideoRecordingBase.h
  Core/VideoRecording/capturesession.cpp
  Core/VideoRecording/capturesession.h
  Utils/executionhelper.cpp
  main.cpp
Due: clang-format

Preven multiple instance of the application running simultaneously
  Utils/CMakeLists.txt
  Utils/singleapplication.cpp
  Utils/singleapplication.h
  main.cpp
Due: clang-format

restruct the project and make the animation module
  CameraHandle/CMakeLists.txt
  CameraHandle/CameraCaptureService/CMakeLists.txt
  CameraHandle/CameraCaptureService/camerascreencapture.cpp
  CameraHandle/CameraCaptureService/camerascreencapture.h
  CameraHandle/CameraCaptureService/screencapture.cpp
  CameraHandle/CameraCaptureService/screencapture.h
  CameraHandle/Helpers/CMakeLists.txt
  CameraHandle/Helpers/animationhelper.cpp
  CameraHandle/Helpers/animationhelper.h
  CameraHandle/Helpers/screencapturehelper.cpp
  CameraHandle/Helpers/screencapturehelper.h
  CameraHandle/cameraframeprocessor.cpp
  CameraHandle/cameraframeprocessor.h
  CameraHandle/camerascreencapture.cpp
  CameraHandle/camerascreencapture.h
  Core/CMakeLists.txt
  Core/CustomizedQuickItems/AnchorsItem.cpp
  Core/CustomizedQuickItems/AnchorsItem.h
  Core/CustomizedQuickItems/AnimatedPaintedItem.cpp
  Core/CustomizedQuickItems/AnimatedPaintedItem.h
  Core/CustomizedQuickItems/CMakeLists.txt
  Core/CustomizedQuickItems/RoundedImage.cpp
  Core/CustomizedQuickItems/RoundedImage.h
  Core/CustomizedQuickItems/painteditem.cpp
  Core/CustomizedQuickItems/painteditem.h
  Core/Fudementals/Memory/CMakeLists.txt
  Core/Fudementals/Memory/observerPtr.cpp
Due: clang-format

remove the redundant parts and apply the constantess
  CameraHandle/Helpers/animationhelper.cpp
  CameraHandle/Helpers/screencapturehelper.cpp
  CameraHandle/camerapool.cpp
Due: clang-format

Add cmake formatter
  .pre-commit-config.yaml
  CameraHandle/CMakeLists.txt
  CameraHandle/CameraCaptureService/CMakeLists.txt
  CameraHandle/Helpers/CMakeLists.txt
  Core/CMakeLists.txt
  Core/CustomizedQuickItems/CMakeLists.txt
  Core/Fudementals/CMakeLists.txt
  Core/Fudementals/Memory/CMakeLists.txt
  Core/Fudementals/SystemIF/CMakeLists.txt
  HMI/CMakeLists.txt
  Utils/CMakeLists.txt
  cmake/PreCommitConfig.cmake
Due: prettier
